/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 1500px}

/* Set gray background color and 100% height */
.sidenav {
	background-color: #f1f1f1;
	height: 100%;
}

/* Set black background color, white text and some padding */
footer {
	background-color: #555;
	color: white;
	padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}
	.row.content {height: auto;}
}

/* Styles for top logo word on top in side menu (logout in one line with logo) */
div.nav-logo {
	margin-top: 10px;
}
div.nav-logo h4 {
	display: inline;
}
div.nav-logo a {
	font-size:10px;
	float: right;
	margin-top: 5px
}